.write{
 padding-top: 50px;

}

.writeForm{

position: relative;
}

.writeIcon{

    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 50%;
    color: rgb(136, 136, 136);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid;

}

.writeFormGroup{

    margin-left: 150px ;
    display: flex;
    align-items: center;
    

}

.writeImage{
 margin-left: 160px;
 width: 70vw;
 height: 250px;
 border-radius: 10px;
 object-fit: cover;

}



.writeInput{

    font-size: 20px;
    border: none;
    padding: 20px;
    width: 70vw;

}

.writeInput.Focus{

    outline: none;
    
}

.writeText{

    font-size: 20px;
    height: 100vh;
}

.writeSubmit{

    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: blue;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}